<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">TestApp</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="/show/{{ request.session.currentUser }}">Profile</a></li>
				</ul>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-6">
				<form action='/update/{{ user.id }}', method='post'>
				{% csrf_token %}
					<h2>Edit User {{ user.id }}</h2>
					<input type="hidden" name="desc" value="{{ user.desc }}">
					<p>Email Address:</p>
					<p><input type="text" name="email" value="{{ user.email }}"></p>
					<p>First Name:</p>
					<p><input type="text" name="first_name" value="{{ user.first_name }}"></p>
					<p>Last Name:</p>
					<p><input type="text" name="last_name" value="{{ user.last_name }}"></p>
					<p>User Level:</p>
					<select name="status">
						<option value="normal">Normal</option>
						<option value="admin">Admin</option>
					</select>
					<p><input type="submit" name="submit" value="Save"></p>
				</form>
			</div>
			<div class="col-md-6">
				<form action='/updatePW/{{ user.id }}' method='post'>
				{% csrf_token %}
					<p>Password:</p>
					<p><input type="password" name="password"></p>
					<p>Password Confirmation:</p>
					<p><input type="text" name="confPassword"></p>
					<input type="submit" name="submit" value="Update Password">
				</form>
			</div>
		</div>
	</div>
</body>
</html>